@{
    ViewBag.Title = "O nama";
}

<div id="footer-content" class="container">

    <div class="naslov">
        <h1>O NAMA</h1>
    </div>
    <div class="onama">
        <p>Arena Cineplex je kompletno renovirana 2010. godine u skladu sa najnovijim svetskim standardima. Rekonstrukcijom i adaptacijom starog bioskopskog prostora dobijen je prvi multipleks u Vojvodini, sa šest vrhunski opremljenih sala, ukupnog kapaciteta od skoro 1.000 mesta, kao i dva ugostiteljska objekta - Cinema i The End cafe.</p>

      <p>  Pored redovnog filmskog repertoara, u Areni Cineplex se organizuju svečane premijere domaćih filmova, kao i festivali FEST, Cinema City, Cinemania i Kids Fest. Važan segment naše ponude čine i mogućnost kupovine koncesija (kokice, naćosi i razna bezalkoholna pića) koje publika može da konzumira tokom trajanja projekcije.</p>

        Arena Cineplex

       <p> Bioskop se nalazi u blizini visokofrekventnih delova grada poput Trga Slobode, Dunavskog parka i Zmaj Jovine ulice. Arena Cineplex se nalazi u blizini brojnih linija gradskog i prigradskog prevoza, što građanima Novog Sada i okoline omogućava brz i jeftin dolazak u bioskop. Ispred bioskopa i u njegovoj okolini se nalaze javne parking površine, a u neposrednoj blizini se nalazi i nekoliko organizovanih parkirališta, što olakšava dolazak posetiocima koji se odlučuju za sopstveni prevoz.</p>
    </div>
</div>
