@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "Dogadjaji";
}
<div id="featured-wrapper">
    <div id="box1">
        <h2>
            Najnoviji filmovi<br />
            <span>Dostupni</span>
        </h2>
        <p>Jumanji 2</p>
        <ul class="style4">
            <li class="first"><a href="#">Deadpool</a></li>
            <li><a href="#">Lord of rings 7</a></li>
            <li><a href="#">Harry Poter 6</a></li>
        </ul>
        <a href="#" class="button-style">Procitaj vise</a>
    </div>
    <div id="box2">
        <h2>
           Projekcije<br />
            <span> Od danas</span>
        </h2>
        <ul class="style3">
            <li class="first">
                <p class="date"><a href="#">April<b>20</b></a></p>
                <h3>Jumanji 2</h3>
                <p><a href="#">Morate ovo pogledati</a></p>
            </li>
            <li>
                <p class="date"><a href="#">April<b>18</b></a></p>
                <h3>Deadpool 2</h3>
                <p><a href="#">Najnovije izdanje</a></p>
            </li>
            <li>
                <p class="date"><a href="#">April<b>15</b></a></p>
                <h3>Tezina lanca 3</h3>
                <p><a href="#">Obavezan film za mladju populaciju</a></p>
            </li>
            <li>
        </ul>
    </div>
    <div id="box3">
        <h2>
           Uskoro<br />
            <span>Nije dostupno</span>
        </h2>
        <ul class="style4">
            <li class="first"><a href="#">Consectetuer adipiscing elit</a></li>
            <li><a href="#">Metus aliquam pellentesque</a></li>
            <li><a href="#">Suspendisse iaculis mauris</a></li>
            <li><a href="#">Urnanet non molestie semper</a></li>
            <li><a href="#">Suspendisse iaculis mauris</a></li>
            <li><a href="#">Proin gravida orci porttitor</a></li>
        </ul>
    </div>
</div>

