@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Galerija";
}

<div class="pictures">
    <div class="item1">
        <img src="~/Slike/1.jpg" />

    </div>
    <div class="item1">
        <img src="~/Slike/2.jpg" />

    </div>
    <div class="item1">
        <img src="~/Slike/3.jpg" />

    </div>



</div>
<div class="pictures">
    <div class="item1">
        <img src="~/Slike/4.jpg" />

    </div>
    <div class="item1">
        <img src="~/Slike/5.jpg" />

    </div>
    <div class="item1">
        <img src="~/Slike/6.jpg" />

    </div>



</div>

