@{
    ViewBag.Title = "Pocetna";
    ViewBag.Description = "ArenaCineplex je bioskop u Novom Sadu,sirok asortiman filmova,visoke posecenosti";
    ViewBag.Keywords = "Bioskop,filmovi,kokice";
}

<div id="page">
    <div class="content">
        <span>Arena Cineplex Bioskop </span>
        <h2>Novi Sad</h2>
        <p>Uzivajte gledajuci najpoznatije filmove sa nama i Vasim najdrazima</p>
        <a href="#" class="button-style button-style-alt">Saznaj vise</a>
    </div>
</div>